USE [VACUNADOS2021]
GO
/****** Object:  Table [dbo].[PERSONAS]    Script Date: 7/20/2021 12:00:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PERSONAS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CEDULA] [nvarchar](15) NULL,
	[NOMBRE] [varchar](50) NULL,
	[APELLIDO] [varchar](50) NULL,
	[TELEFONO] [varchar](10) NULL,
	[FECHANACIMIENTO] [datetime] NULL,
	[PROVINCIAID] [int] NULL,
	[SIGNOZODID] [int] NULL,
 CONSTRAINT [PK_PERSONA] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PERSONA_VACUNA]    Script Date: 7/20/2021 12:00:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PERSONA_VACUNA](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CEDULA_PERSONA] [nvarchar](15) NOT NULL,
	[ID_VACUNA] [varchar](50) NOT NULL,
	[DOSISVACUNA] [int] NOT NULL,
	[FECHAVACUNA] [datetime] NULL,
 CONSTRAINT [PK_VACUNA_PERSONA] PRIMARY KEY CLUSTERED 
(
	[CEDULA_PERSONA] ASC,
	[ID_VACUNA] ASC,
	[DOSISVACUNA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PROVINCIAS]    Script Date: 7/20/2021 12:00:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PROVINCIAS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_PROVINCIA] [int] NOT NULL,
	[NOMBRE] [varchar](50) NULL,
 CONSTRAINT [PK_Provincia] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vwVacunasProvincia]    Script Date: 7/20/2021 12:00:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vwVacunasProvincia]
AS
SELECT prv.ID_PROVINCIA ,prv.NOMBRE NombreProvincia,  pv.DOSISVACUNA as DOSIS, COUNT(*) Vacunados from PERSONA_VACUNA pv
inner join PERSONAS p on pv.CEDULA_PERSONA=p.CEDULA
inner join PROVINCIAS prv on prv.ID_PROVINCIA = p.PROVINCIAID
group by  prv.ID_PROVINCIA,p.NOMBRE,p.APELLIDO,prv.NOMBRE,pv.DOSISVACUNA
GO
/****** Object:  View [dbo].[vwVacunados]    Script Date: 7/20/2021 12:00:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vwVacunados]
AS
SELECT p.CEDULA,p.NOMBRE, p.APELLIDO ,COUNT(*) as DOSIS  from PERSONA_VACUNA pv
inner join PERSONAS p on pv.CEDULA_PERSONA=p.CEDULA
group by p.CEDULA,p.NOMBRE,p.APELLIDO
GO
/****** Object:  Table [dbo].[VACUNAS]    Script Date: 7/20/2021 12:00:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VACUNAS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MARCA] [varchar](50) NULL,
	[DOSIS] [int] NULL,
 CONSTRAINT [PK_VACUNAS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vwVacunadosPorMarca]    Script Date: 7/20/2021 12:00:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vwVacunadosPorMarca]
AS
Select v.Marca ,pv.DOSISVACUNA as Dosis ,Count(pv.ID) Vacunados from PERSONA_VACUNA pv
inner join VACUNAS v on pv.ID_VACUNA=v.MARCA AND pv.DOSISVACUNA=v.DOSIS
group by v.MARCA,pv.DOSISVACUNA
GO
/****** Object:  Table [dbo].[SIGNO_ZODIACAL]    Script Date: 7/20/2021 12:00:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SIGNO_ZODIACAL](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_SIGNO_Zodiacal] [int] NOT NULL,
	[NOMBRE] [varchar](50) NULL,
 CONSTRAINT [PK_SIGNO_ZODIACAL] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[VacunadosPorZodiaco]    Script Date: 7/20/2021 12:00:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[VacunadosPorZodiaco]
AS
SELECT sz.NOMBRE ,pv.DOSISVACUNA as DOSIS,COUNT(sz.ID) as VACUNADOS FROM SIGNO_ZODIACAL sz
FULL JOIN  PERSONAS p on p.SIGNOZODID=sz.ID_SIGNO_Zodiacal
JOIN PERSONA_VACUNA pv on pv.CEDULA_PERSONA=p.Cedula 
GROUP BY sz.NOMBRE,pv.DOSISVACUNA 
GO
/****** Object:  View [dbo].[vwPersonas]    Script Date: 7/20/2021 12:00:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vwPersonas]
AS
SELECT p.CEDULA,p.NOMBRE,p.APELLIDO,p.TELEFONO,sz.NOMBRE as SIGNOZODIACAL ,pv.NOMBRE as PROVINCIA FROM PERSONAS p 
Inner join PROVINCIAS pv on p.PROVINCIAID=pv.ID_PROVINCIA
Inner join SIGNO_ZODIACAL sz on p.SIGNOZODID= sz.ID_SIGNO_Zodiacal
GO
SET IDENTITY_INSERT [dbo].[PERSONA_VACUNA] ON 

INSERT [dbo].[PERSONA_VACUNA] ([ID], [CEDULA_PERSONA], [ID_VACUNA], [DOSISVACUNA], [FECHAVACUNA]) VALUES (1, N'40233707369', N'PFIZER', 1, CAST(N'2021-07-19T18:26:24.053' AS DateTime))
INSERT [dbo].[PERSONA_VACUNA] ([ID], [CEDULA_PERSONA], [ID_VACUNA], [DOSISVACUNA], [FECHAVACUNA]) VALUES (2, N'40233707369', N'PFIZER', 2, CAST(N'2021-07-19T18:26:32.077' AS DateTime))
SET IDENTITY_INSERT [dbo].[PERSONA_VACUNA] OFF
GO
SET IDENTITY_INSERT [dbo].[PERSONAS] ON 

INSERT [dbo].[PERSONAS] ([ID], [CEDULA], [NOMBRE], [APELLIDO], [TELEFONO], [FECHANACIMIENTO], [PROVINCIAID], [SIGNOZODID]) VALUES (2, N'40233707369', N'Adrian', N'Estevez', N'8296485805', CAST(N'2001-03-27T00:00:00.000' AS DateTime), 1, 1)
INSERT [dbo].[PERSONAS] ([ID], [CEDULA], [NOMBRE], [APELLIDO], [TELEFONO], [FECHANACIMIENTO], [PROVINCIAID], [SIGNOZODID]) VALUES (3, N'Prueba', N'FULANO 1', N'Prueba 1', N'0000000', CAST(N'2001-03-27T00:00:00.000' AS DateTime), 1, 1)
INSERT [dbo].[PERSONAS] ([ID], [CEDULA], [NOMBRE], [APELLIDO], [TELEFONO], [FECHANACIMIENTO], [PROVINCIAID], [SIGNOZODID]) VALUES (5, N'000000000', N'ALEJANDRA ', N'ADAMES', N'00000001', CAST(N'1996-01-11T00:00:00.000' AS DateTime), 1, 1)
SET IDENTITY_INSERT [dbo].[PERSONAS] OFF
GO
SET IDENTITY_INSERT [dbo].[PROVINCIAS] ON 

INSERT [dbo].[PROVINCIAS] ([ID], [ID_PROVINCIA], [NOMBRE]) VALUES (1, 1, N'SANTO DOMINGO')
SET IDENTITY_INSERT [dbo].[PROVINCIAS] OFF
GO
SET IDENTITY_INSERT [dbo].[SIGNO_ZODIACAL] ON 

INSERT [dbo].[SIGNO_ZODIACAL] ([ID], [ID_SIGNO_Zodiacal], [NOMBRE]) VALUES (1, 1, N'Acuario')
INSERT [dbo].[SIGNO_ZODIACAL] ([ID], [ID_SIGNO_Zodiacal], [NOMBRE]) VALUES (2, 2, N'Piscis')
SET IDENTITY_INSERT [dbo].[SIGNO_ZODIACAL] OFF
GO
SET IDENTITY_INSERT [dbo].[VACUNAS] ON 

INSERT [dbo].[VACUNAS] ([ID], [MARCA], [DOSIS]) VALUES (1, N'PFIZER', 1)
INSERT [dbo].[VACUNAS] ([ID], [MARCA], [DOSIS]) VALUES (2, N'PFIZER', 2)
SET IDENTITY_INSERT [dbo].[VACUNAS] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_PERSONA]    Script Date: 7/20/2021 12:00:56 AM ******/
ALTER TABLE [dbo].[PERSONAS] ADD  CONSTRAINT [UQ_PERSONA] UNIQUE NONCLUSTERED 
(
	[CEDULA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_PROVINCIA]    Script Date: 7/20/2021 12:00:56 AM ******/
ALTER TABLE [dbo].[PROVINCIAS] ADD  CONSTRAINT [UQ_PROVINCIA] UNIQUE NONCLUSTERED 
(
	[ID_PROVINCIA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_SIGNO_ZODIACAL]    Script Date: 7/20/2021 12:00:56 AM ******/
ALTER TABLE [dbo].[SIGNO_ZODIACAL] ADD  CONSTRAINT [UQ_SIGNO_ZODIACAL] UNIQUE NONCLUSTERED 
(
	[ID_SIGNO_Zodiacal] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_VACUNAS]    Script Date: 7/20/2021 12:00:56 AM ******/
ALTER TABLE [dbo].[VACUNAS] ADD  CONSTRAINT [UQ_VACUNAS] UNIQUE NONCLUSTERED 
(
	[MARCA] ASC,
	[DOSIS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[PERSONA_VACUNA]  WITH CHECK ADD  CONSTRAINT [FK_PERSONA_VACUNA] FOREIGN KEY([CEDULA_PERSONA])
REFERENCES [dbo].[PERSONAS] ([CEDULA])
GO
ALTER TABLE [dbo].[PERSONA_VACUNA] CHECK CONSTRAINT [FK_PERSONA_VACUNA]
GO
ALTER TABLE [dbo].[PERSONA_VACUNA]  WITH CHECK ADD  CONSTRAINT [FK_VACUNAS_PERSONA] FOREIGN KEY([ID_VACUNA], [DOSISVACUNA])
REFERENCES [dbo].[VACUNAS] ([MARCA], [DOSIS])
GO
ALTER TABLE [dbo].[PERSONA_VACUNA] CHECK CONSTRAINT [FK_VACUNAS_PERSONA]
GO
ALTER TABLE [dbo].[PERSONAS]  WITH CHECK ADD  CONSTRAINT [FK_PROVINCIA_PERSONA] FOREIGN KEY([PROVINCIAID])
REFERENCES [dbo].[PROVINCIAS] ([ID_PROVINCIA])
GO
ALTER TABLE [dbo].[PERSONAS] CHECK CONSTRAINT [FK_PROVINCIA_PERSONA]
GO
ALTER TABLE [dbo].[PERSONAS]  WITH CHECK ADD  CONSTRAINT [FK_SignoZodiacal_PERSONA] FOREIGN KEY([SIGNOZODID])
REFERENCES [dbo].[SIGNO_ZODIACAL] ([ID_SIGNO_Zodiacal])
GO
ALTER TABLE [dbo].[PERSONAS] CHECK CONSTRAINT [FK_SignoZodiacal_PERSONA]
GO
