@page "/vacuna"
@inherits VacunaBase

<h3>REGISTRO DE VACUNAS</h3>

<div class="container-fluid">

    <div class="row">
        <div class="col-12">
            <EditForm Model="@OVacuna" OnValidSubmit="InsertData">
                <DataAnnotationsValidator />
                <ValidationSummary />
                <div class="row">
                    <div class="form-group col-sm-12 col-xl-6">
                        <label for="marca">Marca</label>
                        <InputText @bind-Value="@OVacuna.Marca" class="form-control" />
                        <small id="helpMarca" class="text-muted">Ex.. Jhoson</small>
                    </div>
                    <div clas="form-group col-12 col-xl-6">
                        <button type="submit" class="btn btn-primary">Registrar Vacuna</button>
                    </div>
                </div>
            </EditForm>
        </div>
    </div>
</div>


@if (vacunas == null)
{
    <p>Loading...</p>
}
else
{
    <div class="container-fluid">
        <div class="row">

            <div class="col-12">
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Marca</th>
                            <th scope="col">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var v in vacunas)
                        {
                            <tr>
                                <td>@v.Marca</td>
                                <td>
                                    <button class="btn btn-danger" @onclick="() => DeleteData(v)"><i class="bi bi-x-octagon-fill"></i></button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
}



